/*BUTTON STYLE START */
              #button1{
              border: none;
              font-size: 16px;
              font-family: fantasy;
              color: white;
              border-radius: 5px;
              }
              #button2{
                border: none;
                font-size: 16px;
                font-family: fantasy;
                color: white;
                border-radius: 5px;
              }
              #button3{
                border: none;
                font-size: 16px;
                font-family: fantasy;
                color: white;
                border-radius: 5px;
              }
              #button4{
                border: none;
                font-size: 16px;
                font-family: fantasy;
                color: white;
                border-radius: 5px;
              }
              #button5{
                border: none;
                font-size: 16px;
                font-family: fantasy;
                color: white;
                border-radius: 5px;
              }
/*BUTTON  STYLE FINISH */

/*BUTTON GRADIENT STYLE START */
                            /*SAMPLE1*/
.gradient1{
    background: linear-gradient(270deg, #ff7300, #ff00f5);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
                            /*SAMPLE1*/

                            /*SAMPLE2*/
.gradient2{
    background: linear-gradient(270deg, #00c5ff, #ff0000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
                            /*SAMPLE2*/
                            /*SAMPLE3*/
.gradient3{
    background: linear-gradient(270deg, #0049ff, #18ff00);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
                        /*SAMPLE3*/
                        /*SAMPLE4*/
.gradient4{
    background: linear-gradient(270deg, #ff00a7, #3300ff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
                      /*SAMPLE4*/
                      /*SAMPLE5*/
.gradient5{
    background: linear-gradient(270deg, #f9ff00, #50ff00);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
                    /*SAMPLE5*/
/*BUTTON GRADIENT STYLE FINISH */


/* HOVER STYLE START */
                    /*SAMPLE1*/
.gradient1:hover{
  background: linear-gradient(270deg, #ff00f5, #ff7300);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1.5s ease infinite;
  -moz-animation: AnimationName 1.5s ease infinite;
  animation: AnimationName 1.5s ease infinite;
}
                /*SAMPLE1*/
                /*SAMPLE2*/
.gradient2:hover{
  background: linear-gradient(270deg, #ff0000, #00c5ff);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1.5s ease infinite;
  -moz-animation: AnimationName 1.5s ease infinite;
  animation: AnimationName 1.5s ease infinite;
}
                /*SAMPLE2*/
                /*SAMPLE3*/
.gradient3:hover{
  background: linear-gradient(270deg, #18ff00, #0049ff);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1.5s ease infinite;
  -moz-animation: AnimationName 1.5s ease infinite;
  animation: AnimationName 1.5s ease infinite;
}
                  /*SAMPLE3*/
                  /*SAMPLE4*/
.gradient4:hover{
  background: linear-gradient(270deg, #3300ff, #ff00a7);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1.5s ease infinite;
  -moz-animation: AnimationName 1.5s ease infinite;
  animation: AnimationName 1.5s ease infinite;
}
                  /*SAMPLE4*/
                    /*SAMPLE5*/
.gradient5:hover{
  background: linear-gradient(270deg, #50ff00, #f9ff00);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1.5s ease infinite;
  -moz-animation: AnimationName 1.5s ease infinite;
  animation: AnimationName 1.5s ease infinite;
}
                    /*SAMPLE5*/
/* HOVER STYLE FINISH */

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
